<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <div class="card" style="border:1px solid red;height:100%; width:50%">
       <img class="card-image-top" height="100" src="https://yt3.ggpht.com/a-/AAuE7mB9d59qWaBGw8D4dOGgNDP6k187xeGjv7Q2Iw=s900-mo-c-c0xffffffff-rj-k-no">
       <div class="card-body">
       <div class="card-title">Jon De lotu</div>
       <div class="card-text">The web page inter</div>
      </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="row">
          <h1>test2</h1>
      </div>
      <div class="row">
          <h1>test3</h1>
        </div>
    </div>
  </div>
</div>