
<section>
  <div class="container my-3 py-5 text-center" id="profile">
  <!--  <div class="row mb-5">
      <div class="col">
        <h1>Profile</h1>
         <p class="mt-3">
          Profile is verified user profile
         </p>
      </div>
   </div> -->
   
   <div class="row">
     <div class="col-lg-3 col-md-6">
       <div class="card">
         <div class="card-body">
           <img src="https://yt3.ggpht.com/a-/AAuE7mB9d59qWaBGw8D4dOGgNDP6k187xeGjv7Q2Iw=s900-mo-c-c0xffffffff-rj-k-no" alt="" class="img-fluid rounded-circle w-50 mb-3">
          <h3>Ram Nisanth</h3>
          <h5>Entrepreneur</h5>
          <p>Business will make economy rotation : make powerfull country across the world.</p>
          </div>          
       </div>
     </div>

     <div class="col-lg-9 col-md-6 text-left">
      <h1>Profile</h1>
       <p class="p-0">
        Profile is verified user profile
       </p>
    </div>
   </div>
  </div>
</section>












<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <div class="card" style="border:1px solid red;height:100%; width:50%">
       <img class="card-image-top" height="100" src="https://yt3.ggpht.com/a-/AAuE7mB9d59qWaBGw8D4dOGgNDP6k187xeGjv7Q2Iw=s900-mo-c-c0xffffffff-rj-k-no">
       <div class="card-body">
       <div class="card-title">Jon De lotu</div>
       <div class="card-text">The web page inter</div>
      </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="row">
          <h1>test2</h1>
      </div>
      <div class="row">
          <h1>test3</h1>
        </div>
    </div>
  </div>
</div> -->